{% extends 'base.html' %}

{% block content %}

{% if notes_in_db %}
<h3>Note(s) in database {{ total_notes }}</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Note's title</th>
        <th>Functions</th>
    </tr>
    {% for note in notes_in_db %}
    <tr>
        <td>{{ forloop.counter }}.</td>
        <td><a href="/webnotes/view/{{ note.id }}/">{{ note.title }}</a></td>
        <td>(<a href="/webnotes/edit/{{ note.id }}/"> edit </a> |
            <a href="/webnotes/delete/{{ note.id }}/"> delete </a>)</td>
    </tr>
    {% endfor %}
</table>

<br>
<div class="pagination">
    <span class="step-links">
        {% if notes_in_db.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ notes_in_db.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ notes_in_db.number }} of {{ notes_in_db.paginator.num_pages }}
        </span>


        {% if notes_in_db.has_next %}
            <a href="?page={{ notes_in_db.next_page_number }}">next</a>
            <a href="?page={{ notes_in_db.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% else %}
<div class="alert alert-dark" role="alert">
  No notes in current database, nothing to display
</div>
{% endif %}

{% endblock %}
