{% extends 'base.html' %}

{% block content %}
<h1>Create note and save to DB</h1>
<form action="{% url 'create_note' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in new_note_data %}
    <div>
        {{ field.label_tag }}
    </div>
    <div>
        {{field}}
    </div>
    {% endfor %}
    
    {% if note_title_exists %}
    <div class="alert alert-warning" role="alert">
  Note with entered title already exists<br>
        If You leave this page, all entered data will be lost.
</div>
    <a href="/webnotes/view/{{ note_title_exists.get_note_id }}/">{{ note_title_exists.get_note_title }}</a>
    (<a href="/webnotes/edit/{{ note_title_exists.get_note_id }}/"> edit </a> |
            <a href="/webnotes/delete/{{ note_title_exists.get_note_id }}/"> delete </a>)
    <p><br>{{ note_title_exists.get_note_text }}</p>
    {% endif %}

    <button>
        Save note
    </button>
</form>
{% endblock %}