{% extends 'base.html' %}

{% block content %}

<h3>Edit note</h3>

<form method="POST">
    {% csrf_token %}
    <p>
        <label>Edit title:</label><br>
        <input type="text" name="note_title" value="{{ editable_note.title }}"/>
    </p>
    <p>
        <label>Edit text:</label><br>
        <input type="text" name="note_text" value="{{ editable_note.text }}"/>
    </p>

    {% if note_title_exists %}
    <div class="alert alert-warning" role="alert">
        Note with entered title already exists
    </div>
    <a href="/webnotes/view/{{ note_title_exists.id }}/">{{ note_title_exists.title }}</a>
    <p><strong>Text:</strong><br>{{ note_title_exists.text }}</p>
    {% endif %}

    <input type="submit" value="Save Changes">
</form>

{% endblock %}
