{% extends 'base.html' %}

{% block content %}

{% if total_notes %}
<form method="POST">
    {% csrf_token %}
        <label for="search" class="form-label">
            Enter the note you are looking for
        </label>
        <input type="search"
               id="search"
               name="search_for"
               class="form-control text-white pynotes_form"
               placeholder="Search query"
               aria-label="Search through note database">
    <button type="submit" class="btn mt-3 mb-4 pynotes_button">
        Search
    </button>
</form>

{% if query_object %}
<p>Search results for: <em>{{ query_object }}</em></p>

{% if title_results %}
    <div class="alert pynotes_found" role="alert">
  Found in the title:
    </div>

<div class="overflow-scroll pynotes_overflow">
<ol class="d-grid gap-2">
    {% for result in title_results %}
    <li>
        <a href="/webnotes/view/{{ result.id  }}"
           class="align-baseline btn btn-sm pynotes_note_link"
           role="button"
           target="_blank">
            {{ result.title }}
        </a>
    </li>
    {% endfor %}
</ol>
</div>

{% else %}
<div class="alert pynotes_not_found" role="alert">
  Not found in titles
</div>
{% endif %}

{% if text_results %}
<hr>
<div class="alert pynotes_found" role="alert">
  Found in the text:
</div>
<div class="overflow-scroll pynotes_overflow">
<ol class="d-grid gap-2">
    {% for result in text_results %}
    <li>
        <a href="/webnotes/view/{{ result.id  }}"
           class="align-baseline btn btn-sm pynotes_note_link"
           role="button"
           target="_blank">
            {{ result.title }}
        </a>
    </li>
    {% endfor %}

</ol>
    </div>
{% else %}
<div class="alert pynotes_not_found" role="alert">
  Not found in texts
</div>

{% endif %}
{% endif %}

{% else %}
<div class="alert pynotes_not_found" role="alert">
  No notes in current database, nothing to search
</div>
{% endif %}

{% endblock %}
